/* พื้นหลัง */

body {
    margin: 0;
    background: #148131;
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #222;
}


/* เฮดเดอร์ */

header {
    text-align: center;
    padding: 5px;
    background: #295b14;
    color: #e3ffe3;
    animation: float 3s ease-in-out infinite;
    font-size: 20px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}


/* เนื้อหา */

main {
    max-width: 900px;
    margin: 10px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.images {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* จัดให้ภาพตรงกลางแนวนอน */
    align-items: center;
}

.images img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.place {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


/* ฟุตเตอร์ */

footer {
    text-align: center;
    padding: 1rem;
    background: #e0e6e3;
    color: #6a9c54;
}


/* มือถือ */

@media (max-width: 700px) {
    main {
        grid-template-columns: 1fr;
    }
    .images img {
        width: 100%;
        height: 150px;
    }
}


/* แบบฟอร์มเพิ่มสถานที่ */

.place-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #97ec65;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.place-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #170d0d;
}

.place-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #170d0d;
}

.place-form input,
.place-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.place-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #439122;
    color: #170d0d;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.place-form button:hover {
    background-color: #367a19;
}